body{
    font-family: 'Dosis', sans-serif !important;
}

.paralax-slider {
    height: 40em !important;
    background-color: rgba(7, 7, 7, 0.33) !important;
}   

.paralax-slider .slides, .paralax-slider .slides .active {
    background-color: rgba(0, 0, 0, 0) !important;
}

.paralax-slider .active{
    background-color: rgb(7, 7, 7) !important;
}