body{
    font-family: 'Dosis', sans-serif !important;
}

.paralax-slider {
    height: 40em !important;
    background-color: rgba(7, 7, 7, 0.33) !important;
}   

.paralax-slider .slides, .paralax-slider .slides .active {
    background-color: rgba(0, 0, 0, 0) !important;
}

.paralax-slider .active{
    background-color: rgb(74, 61, 45) !important;
}

.download-button {
    background-color: #48392A !important;
}

.team-imgs{
    margin-top: 2em;
    margin-bottom: 2em;
}

.team-img{
    width: 10em !important;
    height: auto !important;
}

.team-title{
    margin-bottom: 2em;
}

.content-download {
    font-weight: bold;
}